<div class="container">
    <app-search-input (textChange)="filter($event)"></app-search-input>

    <app-comics-list *ngIf="!(isUpdating$ | async); else loading"
                     [comics]="comics$ | async"
                     (itemClick)="handleItemClick($event)">
    </app-comics-list>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>


    <app-pagination [page]="page"
                    [totalPages]="totalPages$ | async"
                    (paginationChange)="handlePaginationChange($event)">
    </app-pagination>
</div>
