<div class="container">
    <div class="container__filters">
        <app-search-input (textChange)="filter($event)"></app-search-input>
    </div>

    <app-characters-list *ngIf="!(isUpdating$ | async); else loading"
                         (itemClick)="handleItemClick($event)"
                         [characters]="characters$ | async">
    </app-characters-list>

    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>

    <app-pagination [page]="page"
                    [totalPages]="totalPages$ | async"
                    (paginationChange)="handlePaginationChange($event)">
    </app-pagination>
</div>
