@import 'variables';

.nav {
    height: 60px;
    width: 80%;
    margin: 0 auto;
    background-color: $dark-color;
    display: flex;
    align-items: center;

    img {
        margin-right: 1.5rem;
    }
}
