@import 'variables';

:host {
    margin-left: 2rem;
    margin-right: 1rem;
}

.nav__item {
    text-decoration: none;
    color: $text-white-opacity;
}

.nav__item--active {
    border-bottom: 0.1rem solid $text-white;
    font-weight: bold;
    color: $text-white;
}

@media (max-width: 400px) {
    :host {
        margin-left: 1rem;
        margin-right: 0.5rem;
    }
}
