@import 'variables';

.item {
    max-width: 8rem;
    height: 12em;
    margin-top: 1rem;
    transition: all ease 0.5s;
    position: relative;
}

.item:hover {
    opacity: 0.3;
    cursor: pointer;
}

.item--title {
    position: absolute;
    bottom: 0;
    background-color: $light-gray;
    font-size: 12px;
    width: 100%;
    height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0.2rem 0 0.2rem;
    text-align: center;
    box-sizing: border-box;
}
