@import 'variables';

.container {
    margin: 1rem auto;
    width: 80%;
    height: calc(100% - 97px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container__no-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $text-white-opacity;
}
