.details {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.details__info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3rem;
}

.details__img {
    max-width: 50%;
    min-width: 50%;
}

@media (max-width: 480px) {
    .details__img {
        max-width: 100%;
    }

    .details {
        flex-direction: column;
    }

    .details__info {
        margin: 2rem 0 0 0;
    }
}
