@import 'variables';

.container {
    margin: 1rem auto;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.search {
    input {
        font-size: 14px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        background-color: $dark-gray;
        color: $light-gray;
        padding: 0.7rem;
        border: 1px solid $dark-gray;
        border-radius: 5px;
    }

    input:focus {
        border: 1px solid $light-gray;
        outline: none;
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 2rem;

    span {
        margin-bottom: 0.3rem;
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        color: white;
        margin: 0 3rem;
    }

    button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
