<div class="container">
    <div class="search">
        <input type="text"
               class="search__input"
               placeholder="Search">
    </div>

    <app-comics-container [comics]="comics$ | async"></app-comics-container>

    <div class="pagination">
        <button (click)="back()"
                [disabled]="page === 0">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <span>Page {{page + 1}}</span>
        <button (click)="forward()">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>
    </div>
</div>
